body {
  /* background-color: #a691e2; */
  background: linear-gradient(to right, #8871c9, #177eaa);
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.contact-section {
  background: #f8f9fa;
}

.contact-section h2 {
  font-weight: 700;
}

.contact-section .btn-primary {
  background: #007bff;
  border: none;
}

:root {
  --wave-bg: url('./assets/wave.svg');
}

